{% load static %}
{% load modify %}
<!DOCTYPE html>
<html>
  <head>
    <title>Sudoku s</title>
    <link rel="stylesheet" type="text/css" href="{% static 'sudoku/style.css' %}">
    <script src="{% static 'sudoku/script.js' %}"></script>
  </head>
  <body> 
    <div >
      <h1>Sudoku Solver</h1>
      <button onclick="fillPuzzle(0)">New Game</button>
      <button onclick="clearPuzzle()">Clear</button>
        <form action="/sudoku/" method="get" >
          <table align="center">
            {% for n in "123456789" %}
            <tr>
            {% for l in "ABCDEFGHI" %}
              <td>
                <input id="{{l}}{{n}}" type="text" name="{{l}}{{n}}" value="{{ values|letter:l|number:n }}" class="square" maxlength="1" size="1">
              </td>
            {% endfor %}
            </tr>
            {% endfor %}
          </table>
          <input id="solve" type="submit" value="Solve">
        </form>
      </div>
  </body>
</html>
